
{% extends 'layout.html' %}

{% block content %}

    <div class="container mc">
        <p class="cap">Shop The Nations Best Cars With good prices and lots more on The Trade Cars Platform You Can Buy And
            Sell cars Here <br>
            <hr> more cool deals and finance options coming soon stay tuned
        </p>
    </div>
    <div class="container mx">
        <div class="row">
            <div class="col br"><img class="img" src="/static/images/IMG-20201118-WA0009.jpg" alt="no img">
                <h4>Bently Continental GT</h4>
                <h5>year : 2019</h5>
                <h5>Price : 2 00069</h5>
                <div class="btr btn btn-primary">See More</div>
            </div>
    
    
            <div class="col br"><img class="img" src="/static/images/contgt.jpg" alt="no img">
                <h4>Bently Continental GT</h4>
                <h5>year : 2019</h5>
                <h5>Price : 2 00069</h5>
                <div class="btr btn btn-primary">See More</div>
            </div>
        </div>
        <div class="row">
            <div class="col br"><img class="img" src="/static/images/g63.jpg" alt="no img">
                <h4>Mercedez Benz G63</h4>
                <h5>year : 2018</h5>
                <h5>Price : 2 00069</h5>
                <div class="btr btn btn-primary">See More</div>
            </div>
    
            <div class="col br"><img class="img" src="/static/images/c63.jpg" alt="no img">
                <h4>Mercedez C63 GT </h4>
                <h5>year : 2022</h5>
                <h5>Price : 2 00069</h5>
                <div class="btr btn btn-primary">See More</div>
            </div>
        </div>
    </div>

{% endblock %}